.activity-logs-container {
  background-color: white;
  padding: 10px;
  padding-top: 106px;
  border: 1px solid #DBDBDB;
  width: 260px;
}

.logs-header {
  font-weight: 600;
  margin: 0 0 16px 0;
  padding: 7px;
  padding-bottom: 10px;
  color: #11334E;
  font-size: 12px;
  border-bottom: 1px solid #DBDBDB;
}

.logs-month {
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  margin-bottom: 12px;
  padding-left: 8px;
}

.logs-list {
  border-left: 2px dashed #DBDBDB;
  margin-left: 6px;
  padding-left: 0;
}

.log-item {
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
}

.log-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1.5px solid #000000;
  left: -6px;
  top: 6px;
}

.log-content {
  margin-top: -4px;
}

.log-details {
  font-size: 12px;
  color: #777;
  margin: 0 0 4px 0;
}

.log-description {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  color: #333;
}