.overdue-container {
  border: 1px solid #DBDBDB;
  width: 100%;
  border-left: none;
}

.overdue-title {
  font-weight: 600;
  font-size: 12px;
  color: #11334E;
}

.activity{
  padding-top: 3px;
  padding-left: 5px;
}

.view-all {
  font-size: 12px;
  color: #11334E;
  text-decoration: underline;
  font-weight: 600;
  padding: 0;
}

.view-all:hover {
  color: #0a1f35;
}

.overdue-card {
  border: 1px solid #DBDBDB;
  width: 210px; /* Ensures consistent width */
  margin: 0px; /* Removes extra space */
  padding: 0px; /* Ensures the card body doesn't have extra space */
}

.activity-icon {
  width: 16px;
  height: 16px;
}

.activity-title {
  font-weight: 600;
  font-size: 12px;
  width: 100%;
}

.card-body{
  padding: 0px 5px; /* Adjusts padding inside the card */
}

.activity-details {
  font-size: 12px;
  padding: 8px 10px;
  padding-bottom: 5px;
  border-top: 1px solid #DBDBDB;
  color: #555;
}

.custom-icon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
}

.date-time {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.bi-calendar, .bi-clock {
  font-size: 14px;
}

.overdue-activities{
  display: flex;
  flex-wrap: nowrap; /* Prevents cards from wrapping */
  justify-content: space-between; /* Distributes space evenly */
}

/* Ensure responsiveness */
@media (max-width: 992px) {
  .overdue-activities {
    flex-wrap: wrap; /* Wraps cards on smaller screens */
    justify-content: center; /* Centers them */
  }

  .overdue-card {
    width: 48%; /* Ensures two cards per row on tablets */
  }
}

@media (max-width: 767px) {
  .overdue-activities {
    flex-direction: column; /* Stacks cards vertically on small screens */
  }

  .footer{
    padding-top: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .overdue-card {
    width: 100%; /* Full width on small screens */
  }
}

