.sidebar {
  height: screen;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #DBDBDB;
  transition: all 0.3s ease;
  padding-top: 0.6rem;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px; /* Set a fixed width for the sidebar */
}

.sidebar-open {
  left: 0; /* Bring sidebar on-screen */
  z-index: 10000;
  width: 50px;
}

.sidebar-closed {
  left: -250px; /* Keep sidebar off-screen */
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 60%;
  margin-top: 60px; /* Add margin to avoid overlapping with the hamburger menu */
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: #1f2937;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 30px;
  padding-left: 2px;
  transition: all 0.2s ease;
}

.sidebar-item.active-item {
  background-color: #11334E;
}

.sidebar-item.active-item .sidebar-icon {
  filter: brightness(0) invert(1);
}

.sidebar-item:not(.active-item):hover {
  background-color: #11334E;
}

.sidebar-item:not(.active-item):hover .sidebar-icon {
  filter: brightness(0) invert(1);
}

.icon-wrapper {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

/* Cancel icon styles */
.cancel-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; /* Visible by default for mobile */
}

.cancel-icon-img {
  width: 24px;
  height: 24px;
}

/* Hide cancel icon on desktop devices */
@media (min-width: 768px) {
  .cancel-icon {
    display: none; /* Hide cancel icon on desktop */
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .sidebar {
    position: static; /* Sidebar remains static on desktop */
    left: 0;
    width: 50px; /* Reset width for desktop */
  }

  .sidebar-items {
    margin-top: 0; /* Reset margin for desktop */
  }
}